# Ignore specific file types
*.png
*.csv
*.joblib
*.txt
*.pth
*.log
*.json

# Ignore specific directories
/Central_Planner/
/MCTS_Solver/
/Data_Collection/
/Remind_Files_copy/
/legacy/
/.vscode/
/.pytest_cache/
/.zed/
/Src/tests/
/Src/models/
/Src/Data/*
!/Src/Data/Dashboard.py
/Src/Theory/
Project Plan.md
Prompts.md
Notes.md

/Src/output.log
# Ignore __pycache__ directories in all subdirectories
**/__pycache__/

# Ignore .txt files only in Remind_Files_copy directory
/Remind_Files_copy/*.txt
